<h1><span>Reset Password</span></h1>
<p class="text-descr">
  A request to reset your password has been made.
  If you did not make this request, simply ignore this email.
</p>
<div class="hr"></div>
<p class="link" style="padding-bottom: 55px">
  <strong class="uppercase">If you did make this request just click the link below:</strong>
  <br><br>
  <%= link_to @edit_password_reset_url, @edit_password_reset_url, class: 'pink' %>
</p>

<p class="text-descr">
  <i>If the above URL does not work try copying and pasting it into your browser. If you continue to have problem please feel free to contact us.</i>
</p>
